<?xml version="1.0"?>
<web-app>
  <display-name>SQLREST</display-name>
         
  <servlet>
    <servlet-name>sqlrest</servlet-name>
    <servlet-class>de.oio.sqlrest.MainServlet</servlet-class>
  	<load-on-startup>0</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>sqlrest</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
